:root {
  --backgroundcolor: #f8ca9d5e;
}
body {
  /* background: #f8ca9d5e; */
  margin: 0px;
}
.spring__wrapper {
  background-image: url('./Background.png');
  height: 112vh;
}
h4 {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(to right, pink, blue);
}
.video {
  display: block;
  margin: 0 auto;
  width: 50vw;
  height: 377px;
  position: relative;
}
iframe {
  width: 100%;
  height: 100%;
}
.black {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40px;
  object-fit: cover;
  background: black;
  bottom: 0;
  left: 0;
}
.white {
  font-family: 'Zen Kurenaido', sans-serif;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 60px;
  background: black;
  color: white;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* resnponsive */

@media (max-width: 480px) {
  .video {
    display: block;
    margin: 0 auto;
    width: 98vw;
    height: 70vh;
    position: relative;
  }
}
